/* Navbar.css */
.form {
  position: relative;
  margin-right: 20px; /* Add margin to create space between search bar and profile */
}

.input {
  width: 120px; /* Set a smaller width */
  transition: all 0.3s ease-in-out;
  padding: 2px 10px; /* Decrease the padding for a smaller height */
  border-radius: 15px; /* Rounded corners for better styling */
}

.input:focus {
  width: 180px; /* Increase size on focus */
  border-color: #007bff;
}

button {
  background: none;
  border: none;
}

button[type="reset"] {
  position: absolute;
  right: 8px; /* Adjust position */
  top: 50%;
  transform: translateY(-50%);
}
